body{
    background-color: rgb(255, 255, 255);
}
table{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    border: 3px solid black;
    border-collapse: collapse;
    background-color: white;
}

p.school{
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}
table:hover{
    background-color: rgb(233, 193, 213);
}
h1.name{
    color: brown;
    position: relative;
}